<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template1">
<head>
    <meta charset="UTF-8">
    <title>Formulaire Clients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post" th:action="@{save}">
            <div>
                <label>ID</label>
                <input class="form-control" type="text" name="id" th:value="${client.id}">
            </div>
            <div>
                <label for="prenom">Prenom</label>
                <input id="prenom" class="form-control" type="text" name="prenom" th:value="${client.prenom}">
                <span class="text-danger" th:errors="${client.prenom}"></span>
            </div>
            <div>
                <label for="datenaissance">Date de naissance</label>
                <input id="datenaissance" class="form-control" type="date" name="datenaissance" th:value="${client.datenaissance}">
                <span class="text-danger" th:errors="${client.datenaissance}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
</body>
</html>